.guide-step {

    .number {

        font-size: 2rem;
        color: #FF9900;

    }

    p {

        border-bottom: 1px solid #FF9900;
        text-align: center;
        margin-bottom: 4rem;

    }

}