.test-wrapper {

    .sv_container {

        border: 1px solid grey;
        border-radius: 10px;

        .sv_body {

            border: none;
            font-family: 'Roboto Condensed', sans-serif;
            border-radius: 10px;

            span {

                font-family: 'Roboto Condensed', sans-serif;
                color: #FF9900;

            }

            .sv_q_title {

                span {

                    font-size: 1.6rem;

                }

            }

            .sv_next_btn,
            .sv_prev_btn,
            .sv_complete_btn {

                background-color: #FF9900;
                text-transform: uppercase;

            }

            .sv_qcbc {

                span {

                    color: black;

                }


            }

            .sv_progress_bar {

                background-color: #FF9900;

            }

        }

    }

}

.result-wrapper {

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;


    #score {

        font-size: 6rem;
        padding: 1rem 0 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .perc {

            font-size: 3rem;
            color: #FF9900;

        }

    }

    a {

        text-decoration: none;

    }

    .button {

        padding: 12px 24px;
        border-radius: 5px;

        &.primary {

            background-color: #FF9900;
            color: white;

        }

        &.secondary {

            color: black;

        }

    }

}