@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300&display=swap');

body {

    font-family: 'Roboto Condensed', sans-serif;

}

.inner {

    padding: 0 15%;

}

.flat-text {

    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;

}


@import 'component/header.scss';
@import 'container/home.scss';
@import 'container/test.scss';
@import 'component/intro.scss';
@import 'container/guide.scss';
